:root {
    line-height: 1.5;
    font-weight: 400;
    color-scheme: dark;
    color: #333;
    background-color: #eee;
    text-rendering: optimizeLegibility;
}

a {
    color: inherit;
    text-decoration: underline;
}

img {
    display: none;
}

body {
    margin: 0 auto;
    place-items: center;
    min-width: 320px;
    max-width: 700px;
    font-size: 16px;
    padding: 0 20px 200px;
    font-family: monospace;

}

h1 {
    display: none;
}

.hero {
    margin-top: 30px;
    font-size: 6rem;
    line-height: 1.1;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 50px;
}

pre {
    margin: 0;
}

code {
    background-color: #dadada;
    border-radius: 20px;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 20px;
    display: block;
    text-align: left;
}


.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #7D8B99;
}

.token.punctuation {
    color: #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
    color: #116329;
}

.token.string,
.token.char {
    color: #cc5588;
}

.token.selector,
.token.attr-name,
.token.function,
.token.builtin,
.token.inserted {
    color: #3355cc;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
    color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
    color: #338833;
}

.token.regex,
.token.important {
    color: #e90;
}

.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5);
}

.token.important {
    font-weight: normal;
}

.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.namespace {
    opacity: .7;
}
